{% extends 'base.html.twig' %}

{% block title %}О проекте — Vet{% endblock %}

{% block body %}
  <h1>О проекте</h1>
  <p>Краткое описание проекта: pet project — онлайн-магазин ветеринарных препаратов...</p>
{% endblock %}
