{% extends 'base.html.twig' %}

{% block title %}Главная — Vet{% endblock %}

{% block body %}
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-3">
      <h1 class="display-5">Добро пожаловать в Vet</h1>
      <p class="lead">Онлайн-каталог ветеринарных препаратов и инструкции.</p>
      <a class="btn btn-primary btn-lg" href="{{ path('app_product_index') }}" role="button">Перейти в каталог</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h2>Популярные категории</h2>
      <p>карточки категорий/топ-продуктов.</p>
    </div>
    <div class="col-md-4">
      <h4>Контакт</h4>
      <p>Телефон: +375 (33) 000-00-00</p>
    </div>
  </div>
{% endblock %}
