parameters:
  level: 8
  tmpDir: var/cache/phpstan
  paths:
    - bin/
    - config/
    - public/
    - src/
  
  symfony:
    containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

  doctrine:
    ormRepositoryClass: Doctrine\Bundle\DoctrineBundle\Repository\ServiceEntityRepository

includes:
  - vendor/phpstan/phpstan-symfony/extension.neon
  - vendor/phpstan/phpstan-doctrine/extension.neon
