<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{'emailVerificationPageTitle'|trans}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>{{'emailVerificationHeading'|trans}}</h1>
        <p>Чтобы подтвердить ваш аккаунт, пожалуйста, нажмите на кнопку ниже:</p>
        <a class="btn btn-primary" href="{{ verificationUrl }}">Подтвердить email</a>
    </div>
</body>
</html>
