{% extends 'base.html.twig' %}

{% block title %}Страница не найдена (404){% endblock %}

{% block body %}
  <div class="container text-center">
    <h1 class="display-4">Ошибка 404</h1>
    <p class="lead">Извините, страница, которую вы ищете, не найдена.</p>
  </div>
{% endblock %}
